/*--------------------------------------------------------------
# Archive Stories Page
--------------------------------------------------------------*/


.post-type-archive-stories {
	.site-main {
		position: relative;

		.page-header{
			h1.page-title {
				padding-top: 6%;
			}
			@include content-margin;
			&::after {
				content: "";
				background-color: $main_white;
				position: absolute;
				width: 90%;
				height: 100%;
				left: 10%;
				top: 0;
				z-index: -1;
			}
		}
	}
	.quote {
		@include claim;
		@include content-margin;
	}
	.stories-wrapper {
		.entry-header {
			.entry-title {
				@include content-margin;
			}
		}
		.entry-content {
			@include content-margin;
		}
	}
}

