/*--------------------------------------------------------------
# Archive Stories Page
--------------------------------------------------------------*/


.post-type-archive-stories {
	.site-main {
		position: relative;

		.page-header{
			h1.page-title {
				padding-top: 6%;
			}
			@include content-margin;
			&::after {
				content: "";
				background-color: $main_white;
				position: absolute;
				width: 90%;
				height: 100%;
				left: 10%;
				top: 0;
				z-index: -1;
			}
		}
		.entry-header {
			margin-bottom: 2rem;
			}
		}
	.quote-content {
		margin-bottom: -20px;
		.quote {
			@include claim;
			@include content-margin;
		}
	}

	.stories-wrapper {
		margin-left: 15%;
		padding: 0 5% 0 3%;
		@include desktop {
			display: grid;
			grid-gap: 3rem;
			grid-template-columns: 45% 45%;
		}	
		.stories-container {
			.entry-header {
				h2 {
					font-size: 1.5rem;
					margin: 1rem 0 0 0;
				}
			}
			.entry-content {
				margin-top: -15px;
				padding-bottom: 2rem;
				@include desktop {
				padding-bottom: 0rem;
				}
			}
		}	
	}
}
