/*--------------------------------------------------------------
# Contact Page
--------------------------------------------------------------*/

.page-id-38 {
    .contact-content {
        @include content-margin;

        @include desktop-1440 {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        }

        .contact-container {
            @include desktop-1440 {
                max-width: 650px;
            }

            h1, h2, h3, h4, h5, h6 {
                margin: 27px 0 0 0;
                font-size: 18px;
                text-transform: initial;
                letter-spacing: 1px;
                margin-left: 0 !important;
                padding-left: 1% !important;

                @include tablet {
                    font-size: 25px;
                }
                @include desktop-1440 {
                    font-size: 30px;
                }
            }
            
            p {
                font-size: 11px;
                font-family: $font__main;
                margin-top: 7px;
                margin-left: 0 !important;
                padding-left: 1% !important;

                @include tablet {
                    font-size: 17px;
                    margin-top: 20px;
                }
            }

            a {
                text-decoration: underline;
                color: blue;
            }
        }
    }
}

