/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
  box-sizing: border-box;
  @include font-size(1);

  background: url(../../images/gradient-final.jpg) #eb5e79 repeat fixed;
  background-size: cover;  
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {

}


blockquote,
q {
  quotes: '' '';

  &:before,
  &:after {
    content: '';
  }
}

hr {
  background-color: grey;
  border: 0;
  height: 1px;
  margin-bottom: $base__space-unit;
}

ul,
ol {
  margin: 0 0 $base__space-unit ($base__space-unit * 2);
}

ul {
  list-style: none;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: $base__space-unit;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 $base__space-unit $base__space-unit;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

table {
  margin: 0 0 $base__space-unit;
  width: 100%;
}


/*--------------------------------------------------------------
# Roundabout Setup Elements
--------------------------------------------------------------*/

h1 {
  font-family: $font__main-titles;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.12;
  letter-spacing: 2px;
  color: $main_black;
  text-transform: uppercase;
  @include tablet{
    font-size: 45px;
  }
  @include desktop{
    font-size: 67px;
  }
}

h2 {
  font-family: $font__main;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.5px;
  color: $main_black;
  @include tablet{
    font-size: 25px;
  }
  @include desktop{
    font-size: 30px;
  }
}

h3 {
  font-family: $font__main;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.5px;
  color: $main_white;
  @include tablet{
    font-size: 1.25rem;
  }
}

p{
  font-family: $font__main;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: $main_black;
  @include tablet{
    font-size: 1rem;
    line-height: 32px;
    letter-spacing: 0.8px;
  }
}

.tagline {
  font-family: $font__main-titles;
  font-size: 9rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: 5px;
  color: $main_white;
}

.info-numbers {
  font-family: $font__main-titles;
  font-size: 6.25rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
  letter-spacing: 3px;
  color: $main_green;
}

button {
  font-family: $font__main;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: $main_white;
  background-color: $main_pink;

  height: 60px;
  width: 240px;

  &:hover {
    background-color: darken($main_pink, 10%);
  	}
}

.entry-meta {
  font-family: $font__main;
  font-style: italic;
  font-size: 0.75rem;
  color: $main_black;
  @include tablet {
    font-size: 1rem;
  }
}