.site-footer {
    margin: 25px 0 0 18px;

    @media screen and (min-width: 320px) {
        margin: 25px 0 0 55px;
    }

    @include tablet {
        margin: 25px 0 0 60px;
    }

    @media screen and (min-width: 768px) {
        margin: 25px 0 0 100px;
    }

    @include desktop {
        margin: 100px 0;
    }
    
    .footer-container {
        display: flex;
        margin-left: 18px;
        
        @include desktop {
            display: flex;
            justify-content: space-evenly;
            margin-left: 146px;
        }
    
        .content {
            width: 120px;

            @include tablet {
                width: 64vw;
            }

            .widget-container {
                display: inline-block;
                
                ul {
                    margin: 0;
                    padding: 0;

                    .info {
                        color: black;
                        margin: 0;
    
                        a {
                            color: black;
                            text-decoration: underline;
                        }
                    }

                    @include tablet {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr 1fr 1fr 1fr;
                    }
                }

                    li {
                        list-style-type: none;
                        font-size: 11px;
                        line-height: 1.8;

                        @include tablet {
                            // font-size: 20px;

                            &:nth-child(1) {
                                grid-row-start: 1;
                                grid-column-start: 2;
                            }

                            &:nth-child(2) {
                                grid-column-start: 2;
                                grid-row-start: 2;
                            }
                            
                            &:nth-child(3) {
                                grid-row-start: 1;
                                grid-column-start: 1;
                            }

                            &:nth-child(4) {
                                grid-row-start: 2;
                                grid-column-start: 1;
                            }

                            &:nth-child(5) {
                                grid-row-start: 3;
                                grid-column-start: 1;
                            }

                            &:nth-child(6) {
                                grid-row-start: 4;
                                grid-column-start: 1;
                            }
                        }
                        @include desktop {
                            font-size: 20px;
                        }
                        @media screen and (min-width: 2560px) {
                            font-size: 35px;
                        }
                    }

                
            }
        }

            .images-container {
                display: inline-flex;
                align-items: flex-end;

                @include desktop {
                    align-items: flex-start;
                    margin: 0 0 0 10px;
                }

                    img {
                        margin: 1px;
                        border: 0.5px solid black;
                        
                        @media screen and (min-width: 2560px) {
                            height: 150px;
                        }
                    }

                    .badth-logo {
                        height: 38px;
                        width: 81px;
                        @include desktop {
                            width: 120px;
                            height: 58px;
                            margin: 0 21px 0 0;
                        }
                        @media screen and (min-width: 2560px) {
                            height: 150px;
                            width: 300px;
                        }
                    }

                    .hcpc-logo {
                        height: 38px;
                        width: 37px;
                        @include desktop {
                            width: 56px;
                            height: 58px;
                        }
                        @media screen and (min-width: 2560px) {
                            height: 150px;
                            width: 180px;
                        }
                    }
            }
    }
    .site-info {
 
        .copyright-container {
            font-size: 5px;
            text-align: center;
        }
    }
}
