/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-family: $font__main;
	font-size: 1rem;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1px;
	text-align: center;
	color: $main_white;
	background-color: $main_pink;
	border: none;
	outline: none;
	
	&:hover {
		background-color: darken($main_pink, 5%);
		}

	&:active,
	&:focus {

	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 4px solid $main_green;

	&:focus {
		color: #111;
		outline: none;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
