// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin mobile-buttons {
	border: none;
	width: 120pt;
	height: 40pt;
	line-height: 1;
	padding: .6rem 1rem .4rem;
}

@mixin desktop-buttons {
	width: 240px;
	height: 60px;
}

//@queries
$max-width: 320px;
$tablet-width: 620px;
$desktop-width: 1080px;
$desktop-width-1440: 1440px;
$desktop-width-1920: 1920px;

@mixin minimum-width {
  @media (max-width: #{$max-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-1440 {
  @media (min-width: #{$desktop-width-1440}) {
    @content;
  }
}

@mixin desktop-1920 {
  @media (min-width: #{$desktop-width-1920}) {
    @content;
  }
}
// use it as: @include tablet / @include desktop

//tagline
@mixin tagline {
	font-family: $font__main-titles;
	text-transform: uppercase;
	font-size: 2.5rem;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 47px;
	letter-spacing: 5px;
	color: $main_white;
	@include tablet {
		font-size: 100px;
		line-height: 1.13;
		letter-spacing: 5px;
		}
	@include desktop{
		font-size: 10rem;
		}
  }

  //content margins for elements
  @mixin content-margin {
	margin-left: 15%;
	padding: 0 8% 0 3%;
  }



@mixin claim {
	font-family: $font__main;
	font-size: 1.1rem;
	text-transform: initial;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: $main_black;
	@include tablet {
		font-size: 1.875rem;
		line-height: 1.67;
	}
	@include desktop {
		font-size: 1.875rem;
		line-height: 1.67;
	}
}

@mixin pre-main-text($text) {
  main {
    &::before {
      font-family: $font__main-titles;
      margin-left: 10%;
      line-height: 1.13;
      content: $text;
      display: block;
      font-weight: bold;
      @include font-size(3);
      text-transform: uppercase;
      color: $main_white;
      font-stretch: normal;
      width: 1px; // always wrap words

      @include tablet {
        @include font-size(4);
      }

      @include desktop {
        @include font-size(10);
        margin-bottom: $base__space-unit*2;
      }
    }
  }
}

@mixin section-image($url,$height, $side) {
  display: flex;
  flex-direction: column;

  >h2 {
    &::before {
      content: "";
      background: url($url) no-repeat top center;
      background-size: $height $height;
      width: $height;
      height: $height;
      display: block;
      margin: $base__space-unit auto;
    }
  }

  @include desktop {
    > h2, > p {
      width: 50%;
    }
    @if $side == left {
      align-items: flex-end;
    }

    > h2 {
      position: relative;
      &::before {
        position: absolute;
        @if $side == left {
          left: -$height;
        } @else {
          left: 100%
        }
        top: 0;
      }
    }
  }
}
