/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

a.button {
	color: $color__link_button;
	text-decoration: none;

	&:visited {
		color: $color__link-visited_button;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover_button;
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}


/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		// margin: 0;
		// padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* My styling */

.roundabout-logo {
	width: 30px;
	height: 30px;
}

.main-navigation {
	@include desktop {
		display: none;
	}

	.nav-menu {
		display: grid;
		margin: 20px;
		padding: 0;
		grid-template-columns: auto;
		grid-template-rows: 1fr;
	
		button {
			background-color: initial;
		}

		li {
			color:white;

			&:nth-child(2) {
				cursor: pointer;
			}

			&:nth-child(3) {
				grid-column-start: 8;
				display: flex;
				justify-content: flex-end;
				cursor: pointer;
			}
		}
	}
	.menu-menu-1-container {
		// background-color: red;

		ul {
			background-color: black;
			width: 90px;

			li {
				color: black;
			}
		}
	}

	i {
		font-size: 30px;
	}

	a {
		// line-height: 0;
	}
}

.desktop-nav {
	// display: none;
	@include desktop {
		display: flex;

		nav {
			background-color: black;
			padding: 10px 0;
		}
		  
		  ul {
				display: flex;
				justify-content: space-around;
				flex-flow: row wrap;
		  }
		  
		  a {
				color: #FFFFFF;
				font-family: "Martel Sans";
				font-size: 20px;
				font-weight: bold;
				letter-spacing: 1px;
				line-height: 36px;
				text-decoration: none;
				transition: 0.1s ease-in;
		  }
		  
		  a:hover {
				border-bottom: 6px solid white;
		  }
		  
		  .fa-search {
				background-color: white;
		  }
		  
		  .page-container {
				background-color: #8285b0;
				width: 100vw;
				height: 100vh;
		  }
		  
		  .burger-container {
				background-color: black;
		  }
		  
		  .fa-bars {
				margin: 100px;
				font-size: 50px;
				ursor: pointer;
		  }
	}
}