/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* General Layout */

.content-area{
    margin-top: 8%;

    .site-main > article{
        position: relative;
        padding: 5% 0;
        &::after {
            content: "";
            background-color: $main_white;
            position: absolute;
            width: 90%;
            height: 100%;
            left: 10%;
            top: 0;
            z-index: -1;
        }
        .entry-header{
            text-transform: uppercase;
            img{
                margin: 0;
            }
            .entry-title{
                @include content-margin;
            }
            .entry-meta{
                @include content-margin;
            }
        }
        .entry-content{

            & > p, div:not(.wp-block-cgb-block-claim-block)>div>p, section > p, h1, h2, h3, h4, fieldset{
                @include content-margin;
            }
            figure{
                margin: 0;
            }
        }
    }
}

/* Front page */

body.home{
    .entry-content{
        figure iframe {
            width: 100vw;
            height: 100vh;
        }
    }
}



/* Blog */
body:not(.post-type-archive-member):not(.member-template-default):not(.supporter-template-default ) {
    header.entry-header{
        img {
            width: 100vw;
        }
    }
}

.member-template-default{
    .site-main>article {
        .entry-content{
            p{
                margin-left: 0;
                padding-left: 0;
            }
        }
    }
    .post-navigation{
        .nav-links{
            .nav-previous, .nav-next{
                background-color: $main_green;
                color: $main_white;
                padding: 1rem 2rem;
                width: auto !important;
                text-align: center;
                font-weight: bold;
                font-style: normal;

                &:hover {
                    background-color: darken($main_pink, 10%);
                }
            }
            .nav-previous{
                margin-left: 10%;
            }
            .nav-next{
                margin-right: 10%;
            }
        }

    }
}