/*--------------------------------------------------------------
# Page Team and Support Members
--------------------------------------------------------------*/

/* Team and Support Members */

body.page{
  .site-content{
    .post-type-archive{
      margin-top: 0;

      .site-main {
        position: relative;
        padding-bottom: 2rem;

        &::after {
          content: "";
          background-color: $main_white;
          position: absolute;
          width: 90%;
          height: 110%;
          left: 10%;
          top: -50px;
          z-index: -1;
        }
        .page-header{
          @include content-margin;
          ul{
            margin-left: 0;
            padding-left: 0;
            li{
              display: block;
              @include tablet{
                display: inline-block;
                width: 48%;
                p{
                  a{
                    margin-right: 1rem;
                    font-size: 16px;
                  }
                }
              }
              @include desktop{
                display: inline-block;
                width: auto;
                p{
                  a{
                    margin-right: 2rem;
                  }
                }
              }
              p{
                position: relative;
                a{
                  letter-spacing: .5px;
                  font-weight: 500;
                  text-decoration: none;
                  text-transform: uppercase;
                  color: $main_black;

                  &:hover::after, &:active::after, &.active::after{
                    content: "";
                    position: absolute;
                    width: 90%;
                    height: 5px;
                    left: 0;
                    bottom: -6px;
                    background-color: $main_green;
                  }
                  &:hover, &.active{
                    color: $main_black;
                    font-weight: 700;
                    @include tablet{
                      letter-spacing: .2px;
                    }
                  }
                }
              }
            }
          }
        }
        .content-profiles{
          margin-left: 10%;
          display: flex;
          flex-wrap: wrap;
          background: transparent;
        }
      }
    }
  }
}
//single pages default
body.post-type-archive-member.single, body.member-template-default.single, body.supporter-template-default.single {
  .entry-header{
    img{
      @include content-margin;
      width: auto;
    }
  }
  .entry-content{
    @include content-margin;
    ul{
      margin: 0;
      padding: 0;
    }
  }
}

//funders slider
.content-margin{
  @include content-margin;
}

//new flip-cards code
body.page{
  .site-content{
    .post-type-archive{
      margin-top: 0;

      .site-main {
        position: relative;
        padding-bottom: 2rem;

        &::after {
          content: "";
          background-color: $main_white;
          position: absolute;
          width: 90%;
          height: 110%;
          left: 10%;
          top: -50px;
          z-index: -1;
        }
        .page-header{
          @include content-margin;
          ul{
            margin-left: 0;
            padding-left: 0;
            li{
              display: block;
              @include tablet{
                display: inline-block;
                width: 48%;
                p{
                  a{
                    margin-right: 1rem;
                    font-size: 16px;
                  }
                }
              }
              @include desktop{
                display: inline-block;
                width: auto;
                p{
                  a{
                    margin-right: 2rem;
                  }
                }
              }
              p{
                position: relative;
                a{
                  letter-spacing: .5px;
                  font-weight: 500;
                  text-decoration: none;
                  text-transform: uppercase;
                  color: $main_black;

                  &:hover::after, &:active::after, &.active::after{
                    content: "";
                    position: absolute;
                    width: 90%;
                    height: 5px;
                    left: 0;
                    bottom: -6px;
                    background-color: $main_green;
                  }
                  &:hover, &.active{
                    color: $main_black;
                    font-weight: 700;
                    @include tablet{
                      letter-spacing: .2px;
                    }
                  }
                }
              }
            }
          }
        }
        .content-profiles{
          margin-left: 10%;
          display: flex;
          flex-wrap: wrap;
          background: transparent;

          article{
            flex-basis: 100%;
            margin-bottom: 0;

            @include tablet{
              flex-basis: 50%;
            }

            .cards-container{
              width: 100%;
            }
            .card-container {
              cursor: pointer;
              height: 300px;
              perspective: 600;
              position: relative;
              width: 100%;
              float:left;
            }
            .card {
              height: 100%;
              position: absolute;
              transform-style: preserve-3d;
              transition: all 1s ease-in-out;
              width: 100%;
            }
            .card img{
              border-radius: 50%;
              max-width: 225px;
              height: auto;
              max-height: auto;
              @include center-block;
          
              @include desktop{
                margin-left: 15%;
              }
              @include desktop-1440{
                max-width: 268px;
              }    
              @include desktop-1920{
                max-width: 300px;
              }
            }
            header.entry-header {
              display: flex;
              flex-direction: column;
              @include desktop{
                flex-direction: row;
              }
            }
            .card .entry-title{
                word-spacing: 100vw;
                text-align: center;
                margin-top: 0;
                @include desktop{
                  margin-top: 28%;
                  text-align: left;
                  word-spacing: normal;
                  width: 40%;
                }
                @include desktop-1920{
                  margin-top: 10%;
                  margin-left: 5%;
                }
            }
            .card:hover {
              transform: rotateY(180deg);
            }
            .card .side {
              backface-visibility: hidden;
              border-radius: 6px;
              height: 100%;
              position: absolute;
              overflow: hidden;
              width: 100%;
              background-color: $main_green;
            }
            .card .back {
              padding: 1rem;
              overflow: scroll;
              color: $main_white;
              line-height: 150px;
              transform: rotateY(180deg);
              background-color: $hover_green;
              .title{
                margin: 0;
                font-size: 30px;
                text-align: left;
              }
              .card:hover .side {
                // IE 11 and above hack
                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                  opacity: 0;
                  transition-duration: 1s;
                }
              }
              .card:hover .side.back {
                // IE 11 and above hack
                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                  opacity: 1;
                  transform: initial;
                  transition-duration: 1s;
                  -ms-overflow-style: none;
                }
              }
              p{
                font-size: 12px;
                line-height: 20px;
                color: $main_white;
                @include tablet{
                  font-size: 15px;
                  line-height: 22px;
                }
                @include desktop{
                  font-size: 16px;
                  line-height: 26px;
                }
              }
            }
          }
        }
      }
    }
  }
}

