/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Header */
//Tagline sentence
header.site-header {
    display: flex;
    flex-wrap: wrap;
    @include desktop{
        padding: 1rem 0 0 1rem;
    }
    .site-branding {
        order: 5;
        width: 100vw;
        flex-grow: 100;
        p {
            @include tagline;
            @include content-margin;
            padding: 0;
            margin-top: 5%;
            word-spacing: 100vw;
        }
    }
    .roundabout-logo {
        order: 1;
        width: 40px;
        display: inline-block;
        margin: 10px .7rem 0 1rem;

        img{
            width: 30px;
            height: 30px;
        }
        @include desktop{
            width: 70px;
            height: 76px;
            img{
                width: auto;
                height: auto;
            }
        }
    }
    //search 
    form{
        order: 2;
        flex-grow: 1;
        height: 52px;

        @include desktop{
            order: 3;
            flex-grow: 1;
            margin-top: 25px;
        }
        @include desktop-1440{
            flex-grow: 0;
        }
         
        fieldset {
            margin: 0;
            padding: 0;
            input[type=search]{
                padding-left: 8px;
                width: 154px;
                outline: none;
                color: $main_white;
                height: 52px;
                background: none;
                border: 0;
                display: none;
                &::placeholder, &:focus{
                    color: $main_white;
                }
            }
            i {
                margin-top: 10px;
                cursor: pointer;
                font-size: 30px;
                color: $main_white;
                @include desktop{
                    margin-top: 15px;
                    font-size: 25px;
                }
                @include desktop-1440{
                    margin-top: 10px;
                    font-size: 30px;
                }
            }
            button{
                display: none;
                width: auto;
                height: 52px;
                background-color: transparent;
            }
        }
    }

    //donate button
    .donate-logo{
        order: 3;
        position: relative;
        margin-top: 26px;
        margin-right: 33px;
        line-height: 10px;
        width: 90px;
        font-size: 1rem;
        font-weight: 700;
        &::after{
            content: "\f004";
            font-family: "FontAwesome"; 
            position: absolute;
            color: $main_pink;
            top: 5%;
            left: 100%;
            transform: translate(-50%, -50%);
            font-size: 1.4rem;
            font-weight: 900;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            @include desktop{
                font-size: 2rem;
                top: 25%;
                left: 86%;
            }
            @include desktop-1440{
                font-size: 3rem;
            }
        }
        &::before{
            content: "\f111";
            font-family: "FontAwesome"; 
            position: absolute;
            color: $main_white;
            left: 100%;
            transform: translate(-50%, -50%);
            font-size: 2.5rem;
            font-weight: 900;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            @include desktop{
                font-size: 4.4rem;
                top: 25%;
                left: 86%;
            }
            @include desktop-1440{
                font-size: 5.4rem;
            }
        }
        //.donate-logo @query
        @include desktop{
            order: 4;
            flex-grow: 1;
            line-height: inherit;
            margin-top: 42px;
            font-size: 20px;
            font-weight: 700;
            text-align: right;
            padding-right: 6%;
        }
        @include desktop-1440{
            flex-grow: 1;
            margin-top: 40px;
            font-size: 15px;
            padding-right:8%;
        }
        span{
            display: inline;
            @include desktop{
                // display: inline;
                margin-top: 45px;
                font-size: 15px;
            }
            @include desktop-1440{
                margin-top: 40px;
                font-size: 20px;
            }
        }
    }

    //menu
    .main-navigation{
        align-self: flex-end;
        width: auto;
        float: initial;
        order: 4;
        @include desktop{
            order: 2;
            flex-grow: 1;        
        }
        &.toggled {
            padding: 0 0 30px 10px;
            background-color: rgba(50,50,50,0.7);
            transition-duration: .5s;
            li{
                padding-right: 30vw;
            }
            button.menu-toggle{
                &::after{
                    content: "\f00d";
                    font-family: "FontAwesome";
                } 
            }
        }

        button.menu-toggle {
            width: auto;
            height: auto;
            padding-right: 10px;
            background-color: transparent;
            padding-top: 10px;
            &::after{
                content: "\f0c9";
                font-family: "FontAwesome"; 
                font-size: 1.9rem;
                font-weight: 900;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
            }
        }
        li{
            float: inherit;
            margin-left: 40px;
            padding-bottom: 1rem;
            @include desktop-1440{
                margin-left: 5%;
                a{
                    font-size: 20px;
                    font-weight: bold;
                }
            }
            &::after{
                content: "";
                position: absolute;
                border-bottom: 4px solid rgba(250,250,250,0.3);
                bottom: 10px;
                left: 0;
                width: 100%;
            }
            &:hover a{
                color: $color__link-hover;
            }
            ul li{
                margin-left: 5%;
            }
            @include desktop{
                display: inline-block;
                margin-left: 24px;
                &::after{
                    content: none;
                }
                a{
                    font-size: 15px;
                    font-weight: bold;
                }
                &:hover::before {
                    color: $color__link-hover;
                    content: "";
                    position: absolute;
                    border-bottom: 4px solid $main_white;
                    bottom: 10px;
                    left: 0;
                    width: 100%;
                }
                &:first-child{
                    margin-left: 20px;
                }
                ul {
                    background-color: rgba(255, 81, 130, 0.8);
                    padding: 1rem 1.5rem 0 2rem;
                    top: 1.75rem;
                    li{
                        margin-left: 0;
                        &:first-child{
                            margin-left: 0;
                        }
                    }
                }
            }
            @include desktop-1440{
                margin-left: 5%;
                a{
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    }
}
body:not(.home){
    .site-branding{
        display: none;
    }
    .site-content{
        .content-area{
            margin-top: 4%;
        }
    }
}

body.home{
    .site-content{
        .content-area{
            margin-top: 4%;
        }
    }
}

/* General Layout */
.content-area{
    margin-top: 8%;
  
    .site-main > article, .site-main > section{
        position: relative;
        padding: 5% 0;
        &::after {
            content: "";
            background-color: $main_white;
            position: absolute;
            width: 90%;
            height: 100%;
            left: 10%;
            top: 0;
            z-index: -1;
        }
        .entry-header{
            text-transform: uppercase;
            img{
                margin: 0;
            }
            .entry-title{
                @include content-margin;
            }
            .entry-meta{
                @include content-margin;
            }
        }
        .entry-content {
            >p, >h1, >h2, >h3, >h4, >fieldset {
                @include content-margin;
            }
            >section {
              >p, >h1, >h2, >h3, >h4, >fieldset {
                @include content-margin;
              }
            }
            figure{
                margin: 0;
            }
        }
    }
}

/* Front page */
body.home{
    .entry-content{
        figure iframe {
            width: 100vw;
            height: 100vh;
        }
    }
}



/* Blog */
body:not(.post-type-archive-member):not(.member-template-default):not(.supporter-template-default ) {
    header.entry-header{
        img {
            width: 100vw;
        }
    } 
}

.member-template-default{
    .site-main>article {
        .entry-content{
            p{
                margin-left: 0;
                padding-left: 0;
            }
        }
    }
    .post-navigation{
        .nav-links{
            .nav-previous, .nav-next{
            background-color: $main_green;
            color: $main_white;
            padding: 1rem 2rem;
            width: auto !important;
            text-align: center;
            font-weight: bold;
            font-style: normal;
            
            &:hover {
                    background-color: darken($main_pink, 10%);
                }
            }
            .nav-previous{
                margin-left: 10%;
            }
            .nav-next{
                margin-right: 10%;
            }
        }
    }
}