.content-services {
  .entry-content {
    @include content-margin;

    section {
      &:nth-child(1) {
        background: url("../../images/face-hands-2@3x.png") no-repeat;
        background-size: 290px 235px;
        background-position: top;
        display: flex;
        flex-direction: column;

        h2 {
          margin-top: 245px;
          margin-left: 0;
        }

        p {
          margin-left: 0;
          margin-bottom: 10%;
        }


        @include desktop {
          align-items: flex-end;
          background-position: 5% 75px;

          h2 {
            margin-top: 0;
          }
          >p, >h2 {
            width: 55%;
            padding-right: 0;
          }
        }
      }

      &:nth-child(2) {
        margin-top: $base__space-unit * 3;
        background: url("../../images/two-faces-2@3x.png") no-repeat;
        background-size: 250px 309px;
        background-position: top;
        display: flex;
        flex-direction: column;

        h2 {
          margin-top: 320px;
          margin-left: 0;
        }

        p {
          margin-left: 0;
          margin-bottom: 10%;
        }


        @include desktop {
          align-items: flex-start;
          background-position: 95% 75px;

          h2 {
            margin-top: 0;
          }

          >p, >h2 {
            width: 55%;
            padding-right: 0;
          }
        }
      }
    }
  }
}