/*
.content-services {
  .entry-content {
    @include content-margin;

    //@include two-image-page(("../../images/face-hands-2@3x.png"), ("../../images/two-faces-2@3x.png"));
    section {
      &:nth-child(1) {
        background: url("../../images/face-hands-2@3x.png") no-repeat;
        background-size: 290px 235px;
        background-position: top;
        display: flex;
        flex-direction: column;

        h2 {
          margin-top: 245px;
          margin-left: 0;
        }

        p {
          margin-left: 0;
          margin-bottom: 10%;
        }

        @include desktop {
          align-items: flex-end;
          background-position: 5% 75px;

          h2 {
            margin-top: 0;
          }
          >p, >h2 {
            width: 55%;
            padding-right: 0;
          }
        }
      }

      &:nth-child(2) {
        margin-top: $base__space-unit * 3;
        background: url("../../images/two-faces-2@3x.png") no-repeat;
        background-size: 250px 309px;
        background-position: top;
        display: flex;
        flex-direction: column;

        h2 {
          margin-top: 320px;
          margin-left: 0;
        }

        p {
          margin-left: 0;
          margin-bottom: 10%;
        }

        @include desktop {
          align-items: flex-start;
          background-position: 95% 75px;

          h2 {
            margin-top: 0;
          }

          >p, >h2 {
            width: 55%;
            padding-right: 0;
          }
        }
      }
    }
  }
}
*/

.content-services {
  .entry-content {
    section {
      &:nth-child(1) {
        @include section-image("../../images/normalized/face-hands-2-1200x1200.png", 300px, 'left');
        margin-bottom: $base__space-unit*2;
        > h2 {
          position: relative;
          &::before {
            left: -350px;
          }
        }
      }
      &:nth-child(2) {
        @include section-image("../../images/normalized/two-faces-2-1200x1200.png", 300px, 'right');
      }
    }
    .content-margin {
      margin-left: 15%;
      padding: 0 8% 0 3%;

      div#wpsl-wrap {//map
        border: 4px solid $main_green;
        a{
          color: $main_green;
        }

        .wpsl-search{//search
          margin-bottom: 0;
          background-color: $main_white;
        
          .wpsl-dropdown span, label {
            font-size: .8rem;
          }
          .wpsl-dropdown .wpsl-selected-item, .wpsl-dropdown li, .wpsl-selected-item{
            padding: 5px 12px!important;
            
          }
          .wpsl-dropdown.wpsl-active {
            font-size: 0.8rem;
          }
          #wpsl-search-input {
            padding: 5px 12px;
          }
          #wpsl-search-btn {
            padding: 7px 20%;
            margin-top: 0;
            font-size: 14px;
            font-weight: 700;

            color: $main_white;
            border: 0px;
            background-color: $main_pink;
            background-repeat: no-repeat;
            background-image: none;
            box-shadow: none;
          }
          
        }

        #wpsl-result-list{//result-list
          .wpsl-store-location{
            p, span, span>strong {
              font-size: .8rem;
              line-height: 25px;
            }
            strong{
              font-size:1rem;
            }
            p {
              padding-left: 0;
              margin: 0 0 3%;
            }
            .wpsl-more-info-listings{
              font-size: .8rem;
              strong{
                font-size: .8rem;
              }
            }
            .wpsl-store-details.wpsl-store-listing::before{
              bottom: 10px;
            }
          }
          .wpsl-direction-wrap{
            font-size: .8rem;
          }
        }

      }
    }
  }
}