/*
.content-services {
  .entry-content {
    @include content-margin;

    //@include two-image-page(("../../images/face-hands-2@3x.png"), ("../../images/two-faces-2@3x.png"));
    section {
      &:nth-child(1) {
        background: url("../../images/face-hands-2@3x.png") no-repeat;
        background-size: 290px 235px;
        background-position: top;
        display: flex;
        flex-direction: column;

        h2 {
          margin-top: 245px;
          margin-left: 0;
        }

        p {
          margin-left: 0;
          margin-bottom: 10%;
        }

        @include desktop {
          align-items: flex-end;
          background-position: 5% 75px;

          h2 {
            margin-top: 0;
          }
          >p, >h2 {
            width: 55%;
            padding-right: 0;
          }
        }
      }

      &:nth-child(2) {
        margin-top: $base__space-unit * 3;
        background: url("../../images/two-faces-2@3x.png") no-repeat;
        background-size: 250px 309px;
        background-position: top;
        display: flex;
        flex-direction: column;

        h2 {
          margin-top: 320px;
          margin-left: 0;
        }

        p {
          margin-left: 0;
          margin-bottom: 10%;
        }

        @include desktop {
          align-items: flex-start;
          background-position: 95% 75px;

          h2 {
            margin-top: 0;
          }

          >p, >h2 {
            width: 55%;
            padding-right: 0;
          }
        }
      }
    }
  }
}
*/

.content-services {
  .entry-content {
    section {
      &:nth-child(1) {
        @include section-image("../../images/normalized/face-hands-2-1200x1200.png", 300px, 'left');
        margin-bottom: $base__space-unit*2;
        > h2 {
          position: relative;
          &::before {
            left: -350px;
          }
        }
      }
      &:nth-child(2) {
        @include section-image("../../images/normalized/two-faces-2-1200x1200.png", 300px, 'right');
      }
    }
    div#wpsl-wrap {
      padding-left: 15%;
      padding-right: 3%;
      .wpsl-search{
        margin-bottom: 0;
      }
      .wpsl-dropdown span, label {
        font-size: .8rem;
      }
      .wpsl-dropdown .wpsl-selected-item, .wpsl-dropdown li, .wpsl-selected-item{
        padding: 5px 12px!important;
      }
      #wpsl-search-input {
        padding: 5px 12px;
      }
      #wpsl-search-btn {
        padding: 5px 28px;
        margin-top: 0; 
      }
      a{
        color: $main_green;
      }
    }
  }
}