/*--------------------------------------------------------------
# Single Stories Page
--------------------------------------------------------------*/

.single-stories, .post-type-archive-stories, .single-news {
	.quote-content {
		margin-top: 3rem;
		.quote {
			@include claim;
			@include content-margin;
			position: relative;
			margin-left: 23%;
			padding-top: 6%;
			margin-bottom: 10%;
			@include tablet {
				margin-left: 32%;
				padding-top: 4%;
				margin-bottom: 6%;
			}
			@include desktop {
				margin-left: 42%;
				padding-top: 3%;
			}
		}
		i.fa-quote-left {
			position: absolute;
			margin-left: 17%;
			color: $main_green;
			font-size: 4rem;
			@include tablet {
				font-size: 6rem;
				margin-left: 30%;
			}
			@include desktop {
				font-size: 7rem;
				margin-left: 40%;
			}
		}
	}
	h1.entry-title{
		text-transform: initial;
		@include tablet {
			font-size: 1.6rem;
		}
	}
}

