
// Structure

$base__space-unit: 1.5rem;

// Roundabout Palette Colors

$main_black: #262626;
$main_pink: #ff5182;
$main_white: #ffffff;
$main_green: #aee34d;
$main_blue: #4a90e2;
$hover_green: #5ebc00;

$color__link: red;
$color__link-visited: red;
$color__link-hover: red;

// Roundabout Fonts and Typography

$font__main: Martel Sans, sans-serif;
$font__main-titles: Montserrat, sans-serif;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
